.chat-panel{
    >ion-header{ 
        min-height: 30vh;
        width:100%;
        background: linear-gradient(0deg, #6731FF 0%, #F36BFF 100%);
        border-bottom-left-radius: 5em;
        border-bottom-right-radius: 5em;
        box-shadow: 0 0 4em 1em rgba(244, 85, 255, 0.1); 
        >.progress{
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2em 0;
            >*{
                border-radius: 50%;
                box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.4), inset 0 0 2em 2em rgba(0, 0, 0, 0.4);
                width:200px;
                text-shadow: 0 0 1em rgba(0,0,0,0.5);

            }
        }
    }
    >ion-content{
        >ion-list{
            margin-top: 2em;
        }
        ion-card{
            border-radius: 3em;
            //padding:;
            >ion-card-header{
                padding:0;
                padding-right: 1em;
            }
        }
    }

}