.header{
    width:100%;
    height:60vh;
    background: rgb(170,90,255);
    background: linear-gradient(0deg, rgba(170,90,255,1) 0%, rgba(241,94,216,1) 100%);
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
    >ion-toolbar{
        --padding-left:1em;
    }
}